//////***** COLORS *****//////
$primary-color: #c0c0c0;
$primary-color-dark: #808080;
$alarm-color: #f80000;

$info-one-color: #0200fc;
$info-two-color: #017e00;
$info-three-color: #ff0000;
$info-four-color: #010080;
$info-five-color: #7f0300;
$info-six-color: #008080;
$info-seven-color: #000000;
$info-eight-color: #808080;

$cell-size: 4rem;
$game-padding: 1.5rem;
$border-width: .3rem;
$cells-in-row: var(--cells-in-row);

$game-max-width: calc(#{$cell-size} * #{$cells-in-row} + 2*#{$game-padding} + 2*#{$border-width});


